.mybtn {
  background: rgb(40, 111, 255);
  background: linear-gradient(
    90deg,
    rgba(40, 111, 255, 1) 0%,
    rgb(184, 7, 243) 60%,
    rgb(207, 95, 254) 100%
  );
  border: none;
  width: 50%;
  font-weight: bold;
}
#pdf-div {
  overflow-x: hidden !important;
  border: 2px solid white;
  border-radius: "5px";
}
.heading {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  /* font-size: 3rem; */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px;
}
.mybtn:before {
  height: 0%;
  width: 2px;
}
.mybtn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
